.git
.idea
#.next
cli
node_modules
public
src
bun.lockb
.env
.env.example
.eslintrc.json
.gitignore
.dockerignore
postcss.config.js
next.config.mjs
tailwind.config.ts
global.d.ts
next-env.d.ts
#package.json
#package-lock.json
.prettierrc.json
tsconfig.json
README.md
TODO.md
